$black: hsla(0, 0%, 19%, 1);
body{
    margin: 0;
    body.colorize {
        background-color: red;
    }
}
button {
    border: 1px solid darken($black, 10);
    border-radius: 4px;
    padding: 10px;
    font-size: inherit;
    &:hover {
        background-color: lighten($black, 65);
        cursor: pointer;
    }
}
h1 {
    background-size: cover;
    padding: 25px;
}
nav {
    padding: 10px;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
}